.modal-content {
  width: 90vw;              /* ocupa el 90% del ancho de la ventana */
  max-width: 1000px;        /* límite máximo para pantallas grandes */
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  max-height: 90vh;
  overflow-y: auto;
}


.modal-content.small {
  max-width: 500px;
  width: 300%;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  max-height: 90vh;
  overflow-y: auto;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-top: 0.5rem;
}

.checkbox-item {
  display: flex;
  align-items: center;
}

.asignadas-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0.5rem;
}

.asignadas-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3rem;
}

.btn-remove {
  background-color: #c0392b;
  color: white;
  border: none;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}
