.mv-container {
  padding: 4rem 5%;
  background: white;
}

.mv-title {
  font-family: var(--font-Alumni);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
  color: var(--color-pb-1);
}

.mv-content {
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.mv-card {
  background: var(--color-pb-4);
  padding: 2rem;
  width: 320px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0,0,0,0.12);
}

.mv-icon {
  font-size: 3rem;
  color: var(--color-pb-3);
}

.mv-card h3 {
  font-family: var(--font-Oswald);
  font-size: 1.8rem;
  margin-top: 1rem;
  color: var(--color-pb-2);
}

.mv-card p {
  font-family: var(--font-Balo);
  margin-top: 0.8rem;
}
